
/* ::::: null ::::: */

#body { margin: 0px; }
#myFrame { bottom: 0px; left: 0px; overflow: hidden; position: absolute; right: 0px; top: 0px; }

/* ::::: null ::::: */

.mboxDefault { visibility: hidden; }
